<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>學生列表</h1>
<div>
    <a href="/add_class/">添加</a>
</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>學生姓名</th>
        <th>所屬班級</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for row in stu %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td>
            <a href="/edit_class/?nid={{ row.id }}">編輯</a>
            <a href="/del_class/?nid={{ row.id }}">刪除</a>
        </td>

    </tr>
    {% endfor %}
    </tbody>



</table>

</body>
</html>