<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        *{
        margin:0;
        padding:0;
        }
        .head{
        line-height:40px;
        background-color:green;
        color:white;
        text-align:center;
        }

    </style>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="outer">
    <div class="head">標題 </div>
    <div class="content">
        <a href="/addbook">添加書籍</a>
        <a href="/updatebook">修改書籍</a>
        <a href="/delbook">刪除書籍</a>

    </div>



</div>

</body>
</html>